.editorial-correction{
    height: 300px;
    overflow: auto;
}

    /* .row{
        margin-bottom: 10px;
    } */

.custom-control-label{
    margin-right: 10px;
}


.table{
    overflow: auto;
}

.title{
    color: #777;
    text-align: left;
    margin-top: 10px;
}

.container.correction{
    padding: 25px;
}

.col-md-4.correction{
    padding: 35px;
}